              <h1 class="bd-title" id="content">介绍</h1>
              <p class="bd-lead">Bing网站的每日桌面背景</p>
              <h2>调用地址</h2>
              <figure class="highlight">
                  <pre>
                      <span>/api/bingdaily</span>
              </pre>
              </figure>
              <h2>参数</h2>
              <figure class="highlight">
                  <pre>
                      <span>index <em>{非必须}{从当前回退N天}{默认为0, 代表今天的Bing图片}</em></span>
                      <span>n <em>{非必须}{返回数据条数}{默认为1}</span>
              </pre>
              </figure>