              <h1 class="bd-title" id="content">介绍</h1>
              <p class="bd-lead">Dota2个人资料查询</p>
              <h2>调用地址</h2>
              <figure class="highlight">
                  <pre>
                      <span>/api/searchrank</span>
              </pre>
              </figure>
              <h2>参数</h2>
              <figure class="highlight">
                  <pre>
                      <span>id<em>{必须}{首先将参数作为steamid查询，如果没有查询到结果则将参数作为steam昵称查询}</em></span>
              </pre>
              </figure>