    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar" style="top :0;height :calc(100vh)">
            <nav class="collapse bd-links" id="bd-docs-nav" style="padding-top: 0;max-height: calc(100vh)">
                <div class="bd-toc-item">
                    <a class="bd-toc-link" href="/" style="font-size: 50px">INDEX</a>
                </div>
                <div class="bd-toc-item">
                    <!--主体导航列表内容应该从这里开始-->
                    {% include "layouts/components/SideBarList.html" %}
                </div>
            </nav>
        </div>
          <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
              <!--主体描述内容应该从这里开始-->
              {% include part %}
              <h4 id="containers">心情</h4>
              <p>{{words}}</p>
              <p style="text-align:right">—{{from}}</p>
              {% comment %}
              <p>Containers are the most basic layout element in Bootstrap and are <strong>required when using our default grid system</strong>. Choose from a responsive, fixed-width container (meaning its <code class="highlighter-rouge">max-width</code> changes at each breakpoint) or fluid-width (meaning it’s <code class="highlighter-rouge">100%</code> wide all the time).</p>
              <p>While containers <em>can</em> be nested, most layouts do not require a nested container.</p>
              <div class="bd-example">
                  <div class="bd-example-container">
                      <div class="bd-example-container-header"></div>
                      <div class="bd-example-container-sidebar"></div>
                      <div class="bd-example-container-body"></div>
                  </div>
              </div>
              <figure class="highlight"><pre>
                  <code class="language-html" data-lang="html">
                      <span class="nt">&lt;div </span><span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
                      <span class="c">&lt;!-- Content here --&gt;</span><span class="nt">
                      &lt;/div&gt;</span>
                  </code>
              </pre>
              </figure>
              {% endcomment %}
          </main>
      </div>
    </div>