              <h1 class="bd-title" id="content">介绍</h1>
              <p class="bd-lead">一言</p>
              <h2>调用地址</h2>
              <figure class="highlight">
                  <pre>
                      <span>/api/yiyan</span>
              </pre>
              </figure>
              <h2>参数</h2>
              <figure class="highlight">
                  <pre>
                      <span>
                    <tr>
                        <th width="100"><b>参数名称</b></th>
                        <th width="100"><b>类型</b></th>
                        <th colspan="4"><b>描述</b></th>
                    </tr>
                    <tr style="text-align: center;">
                        <td rowspan="9">c</td>
                        <td rowspan="9">可选</td>
                        <td colspan="4">Cat，即类型。提交不同的参数代表不同的类别，具体：</td>
                    </tr>
                    <tr>
                        <td>a</td>
                        <td colspan="2">Anime - 动画</td>
                    </tr>
                    <tr>
                        <td>b</td>
                        <td colspan="2">Comic – 漫画</td>
                    </tr>
                    <tr>
                        <td>c</td>
                        <td colspan="2">Game – 游戏</td>
                    </tr>
                    <tr>
                        <td>d</td>
                        <td colspan="2">Novel – 小说</td>
                    </tr>
                    <tr>
                        <td>e</td>
                        <td colspan="2">Myself – 原创</td>
                    </tr>
                    <tr>
                        <td>f</td>
                        <td colspan="2">Internet – 来自网络</td>
                    </tr>
                    <tr>
                        <td>g</td>
                        <td colspan="2">Other – 其他</td>
                    </tr>
                    <tr>
                        <td>其他不存在参数</td>
                        <td colspan="2">任意类型随机取得</td>
                    </tr>
                      </span>
              </pre>
              </figure>